name: Atualizar repositório a cada 12 horas
on:
  schedule:
    - cron: "0 */12 * * *"
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Atualizar repositório
        run: |
          git fetch origin
          git merge origin/main
          git push origin main
